<div class="col-md-12">
	<div class="jumbotron">
		<div class="row">
			<div class="col-md-8">
				<h1>Hello world</h1>

				<p>Bacon ipsum dolor amet ribeye filet mignon leberkas beef landjaeger ham
				hock jowl sirloin fatback kielbasa brisket pork chop turkey. Venison kevin
				beef ribs andouille, doner salami porchetta sirloin hamburger pancetta tri-tip
				spare ribs pork belly rump. Jerky short ribs pork chop pork belly corned beef.</p>

			</div>
			<div class="col-md-4">
				<form ng-submit="submit()">
					<div class="form-group">
						<label for="first-name">First Name</label>
						<input ng-model="user.first_name" type="name" class="form-control" id="first-name"
						placeholder="First name">
					</div>

					<div class="form-group">
						<label for="last-name">Last Name</label>
						<input ng-model="user.last_name" type="name" class="form-control" id="last_name"
						placeholder="Last name">
					</div>

					<div class="form-group">
						<label for="email">Email Address</label>
						<input ng-model="user.email" type="email" class="form-control" id="email"
						placeholder="You email">
					</div>

					<div class="form-group">
						<label for="password">Password</label>
						<input ng-model="user.password" type="password" class="form-control" id="password"
						placeholder="Create a password">
					</div>

					<div class="form-group">
						<label for="phone">Phone</label>
						<input ng-model="user.phone" type="phone" class="form-control" id="phone"
						placeholder="Insert phone number">
					</div>

					<div class="form-group">
						<label for="type">Type</label> <br/>
						<label for="type-patient">
							<input name="type" ng-model="user.type" type="radio" class="form-radio" id="type-patient" value="patient">
						Patient</label>
						<label for="type-caretaker">
							<input name="type" ng-model="user.type" type="radio" class="form-radio" id="type-caretaker" value="caretaker">
						Caretaker</label>
					</div>

					<div class="form-group">
						<label for="community">Community name or patient's email</label>
							<input ng-model="community" type="text" class="form-control" id="community" placeholder="Type community's name or patient's email">
					</div>

					<input type="submit" class="btn btn-success btn-lg" value="Sign up!">
				</form>
			</div>
		</div>
	</div>
</div>
